* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
  }
body{
    background-image:url("../Drawable/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0%;
}
.test
{
    color: red;
    font-size: 50px;
}
#First
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    margin: 0px;
}
#Second
{
    width: 100%;
    height: fit-content;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;

}

.Box
{
    background-color:white ;
    height:fit-content;
    width:fit-content;
    /*padding: 5px;*/
    /*border : 2px solid black;*/
    margin: 20px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-direction:row;
    justify-content: space-between;
}

#Third
{
    position: relative;
    width: 100%;
    height: 25%;
    overflow: hidden; 
}
 .Contact
{
    position: absolute;
    right:0;
    top: 0;
    background-image: url("../Drawable/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; 
    width: 100%;
    height: 85%;
    animation-name:scaler ;
    animation-duration:4s;
    animation-delay: 1s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;
}
.ContactMask
{
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.ContactIcons
{
   height: 25%;
   width :40%;
   display: flex;
   padding: 5px;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}
.ContactIcon
{
    font-size:28px;
    color: white;
}
@keyframes scaler
{
  0%{transform:scale(1,1);}
  50%{transform:scale(1.1,1.1);}
  100%{transform: scale(1,1);}
}
.mask
{
    position: absolute;
    right:0;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 85%;
    border:2px solid black;
    background-color:rgba(29, 222,12,0.38);
}
 .Trademark
{
   position:absolute;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 15%;
   background-color:rgb(44,111,38); 
   display: flex;
   align-items: center;
   justify-content: center; 
   color: white;
   font-family: sans-serif;
   font-size: 15px;
   font-weight:bold ;
   padding: 2px;
}
#Nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index:2000;
    padding:20px;
}
.NavBox
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
}
.NavLink
{
    visibility: hidden;
    font-family: sans-serif;
    font-size: 20px;
    display: block;
    margin: 10px;
    border-radius: 5px;
    padding:5px 10px 5px 10px;
    text-decoration: none;
    color: white;
    opacity: 0.6;
    background-color: black;
}
.NavLink:hover
{
    opacity: 1;
}
.Navcircle
{
    position: relative;
    height: 40px;
    width: 40px;
    display: flex;
    margin-left: 5px;
}
.toggler
{
    position: absolute;
    z-index:2000;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 4;
    opacity: 0;
}
.Hamburger
{
    position: absolute;
    z-index:3 ;
    top:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 8px;
    border-radius: 50px;
}
.Hamburger > div
{
   position: relative;
   width: 100%;
   height: 2px;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
   transition : all 1s;
}

/* style for top and bottom lines*/
.Hamburger > div:before , .Hamburger > div:after
{
   content:'';
   position: absolute;
   z-index: 1;
   top: -8px;
  width: 100%;
  height: 2px;
  background: inherit;
  transition : all 0.1s;
}
/*moves line down*/
.Hamburger > div:after
{
    top:8px;
}
.Navcircle > .toggler:hover:not(:checked) + .Hamburger > div::before
{
  top:-10px;
}
.Navcircle > .toggler:hover:not(:checked) + .Hamburger > div::after
{
  top: 10px;
}
.toggler:checked + .Hamburger > div
{
    transform: rotate(135deg);
}
.toggler:checked + .Hamburger > div:before ,
.toggler:checked + .Hamburger > div:after 
{
   top : 0px;
   transform: rotate(90deg);
}
.toggler:checked:hover + .Hamburger > div
{
    transform: rotate(225deg);
}
#VacLogo
{
    opacity: 0.8;
    max-height:200px;
    max-width: 200px;
    transition: transform 0.4s;
}
#VacLogo:hover
{
    transform: rotate(360deg) scale(1.2,1.2) ;
}
#Vac
{
    width:675px;
    height:150px;
}
.Logo
{
    padding: 0px;
}
#Options
{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}
.Option
{
    width:fit-content;
    height: fit-content;
    display: block;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    border: 1px solid white;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    /*transition: all 1s;*/
}
.Option > i
{
    /*display: none;*/
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    font-size: 0px;
}
.Option:hover > i
{
  /*display: inline-block;*/
  visibility: visible;
  color: white;
  font-size: 25px;
  padding-right: 5px;
}
#Image1
{
  background-image: url("../Drawable/vintage.jpg");
  background-size: cover;
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0 100%);
  width: 100%;
}
#Image2
{
    background-image: url("../Drawable/quiz.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
    width: 100%;
}
#Image3
{
    background-image: url("../Drawable/magic.jpg");
  background-size: cover;
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0 100%);
  width: 100%;
}
.CSI p
{
    font-family:sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
.CSI > a
{
    text-decoration: none;
}
.CSI
{
    flex-shrink: 0;
}
.ContentBox
{
    margin: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.ContentBox .Heading
{
    font-family: sans-serif;
    font-size: 30px;
    margin: 15px 5px 15px 5px;
}
.ContentBox .Heading2
{
    font-family: sans-serif;
    font-size: 30px;
    margin: 5px;
}
.ContentBox .Paracontent
{
    font-family: sans-serif;
    color: #4c4646c2;
    font-size: 20px;
    margin: 20px 5px 20px 5px;
}
.LeftImage
{
    background-image: url("../Drawable/quiz.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
    width: 100%;
}
.Rules
{
    display: block;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    border: 1px solid rgb(7, 90, 7);
    font-family: sans-serif;
    text-decoration:none;
    margin:25px 5px 5px 5px;
    color: rgb(7, 90, 7);
}
.Rules:hover
{
    color: white;
    background-color: rgb(7, 90, 7);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width:900px)
{
    /*Second Part Design*/
    .ContentBox
    {
        padding: 5px 10px 5px 10px;
    }
    .ContentBox .Paracontent
    {
        font-size: 15px;
        margin: 5px 5px 5px 5px;
    }
    .ContentBox .Heading
    {
        font-size: 25px;
        margin: 5px 5px 5px 5px;
    }
    .ContentBox .Heading2
   {
    font-size: 25px;
    margin: 2px;
   }
    #Image1
    {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        
    }
    #Image2
    {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        
    }
    #Image3
    {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
        
    }
    .Rules
    {
        margin: 10px 5px 5px 5px;
        padding: 5px 10px 5px 10px;
    }
    #VacLogo
   {
    max-height:150px;
    max-width: 150px;
   }
   #Vac
   {
    width: 500px;
    height: 90px;
   }
   .Option
   {
       font-size: 20px;
   }
   .Option:hover > i
{
  /*display: inline-block;*/
  font-size: 20px;
}
   .CSI p
  {
    font-size: 20px;
    font-weight: 600;
  }
  .Navcircle
 {
    height: 30px;
    width: 30px;
 }
 .ContactIcon
{
    width: 10%;
    margin: 5px;
    height: 100%;
}
.NavLink
{
  font-size: 15px;
}
}
/*for 600px*/
@media only screen and (max-width:600px)
{
    .ContentBox
    {
        padding: 5px 10px 5px 10px;
    }
    .ContentBox .Paracontent
    {
        color: white;
        font-size: 15px;
        margin: 5px 5px 5px 5px;
    }
    .ContentBox .Heading
    {
        color: white;
        font-size: 25px;
        margin: 5px 5px 5px 5px;
    }
    .ContentBox .Heading2
   {
     color: white;
     font-size: 25px;
     margin: 2px;
   }
   #Image1
    {
        display: none;
        
    }
    #Image2
    {
        display: none;
    }
    #Image3
    {
        display: none;
    }
    .ContentBox
    {
        margin: 0px;
        background-color: rgba(0,0,0,0.5);
    }
    #ContentBox1
    {
        background-image: url("../Drawable/vintage.jpg");
        background-size: cover;
    }
    #ContentBox2
    {
        background-image: url("../Drawable/quiz.jpg");
        background-size: cover;
    }
    #ContentBox3
    {
        background-image: url("../Drawable/magic.jpg");
        background-size: cover;
    }
    .ContactIcon
   {
    margin: 12px;
    height: 100%;
   }
   .Rules
  {
    border: 1px solid white;
    color: white;
    transition: all 0.2s;
  }
  .Rules:hover
  {
      transform: translate(0px,-5px);
      background-color: rgba(0,0,0,0);
  }
  #VacLogo
  {
   max-height:90px;
   max-width: 90px;
  }
  #Vac
  {
   width: 220px;
   height: 50px;
  }
  .Option
  {
      font-size: 10px;
  }
  .Option:hover > i
  {
    /*display: inline-block;*/
    font-size: 10px;
  }
  .CSI p
  {
    font-size: 15px;
    font-weight: 600;
  }
}
